body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Nunito";
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(3, auto);
	column-gap: 1em;
	place-content: center;
	background-color: #f6f7f9;
}

.dropdown {
	position: relative;
	padding: 1em;
	background-color: white;
	border: none;
	outline: none;
	border: 1.5px solid #e0e7ee;
	border-radius: 5px;
	font-family: inherit;
	color: #494949;
	cursor: pointer;

	&:focus {
		border-color: #88bfff;
	}

	&__name {
		margin-right: 1em;
	}

	&__list {
		position: absolute;
		top: 110%;
		left: 0;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: white;
		border: 1.5px solid #e0e7ee;
		border-radius: 5px;
		text-align: left;
	}

	&__item {
		padding: 1em;

		&:first-child {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		&:last-child {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		&:hover {
			background-color: #f6f7f9;
		}
	}
}

.is-active {
	visibility: visible;
	opacity: 100%;
	transition: all 0.5s;
}
